@import "../../../sass/Variables";
@import "../../../sass/Mixins";

.btn {
  padding: 0.65rem 1.4rem;
  color: $lightGreyBackground;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-weight: 700;
  font-size: 0.875rem;
  transition: all 0.15s ease-in-out;
}

.purple-btn {
  @extend .btn;
  @include btn($purple);
}

.darkblue-btn {
  @extend .btn;
  @include btn($darkBlue);
}

.blue-btn {
  @extend .btn;
  @include btn($blue);
}

.red-btn {
  @extend .btn;
  @include btn($red);
}
