@import "../../sass/Variables";

.sidebar {
  display: grid;
  gap: 1.5rem;
  position: sticky;
  top: 3.8rem;

  @media (max-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  .header {
    background-image: url('../../assets/suggestions/desktop/background-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 3.875rem 2.875rem 1.3rem 1.5rem;
    color: $white;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: -0.25px;

    @media (max-width: $tablet) {
      background-image: url('../../assets/suggestions/tablet/background-header.png');
      padding: 6.4rem 2.8rem 1.5rem 1.5rem;
    }

    .header-sub {
      opacity: 0.75;
      font-weight: 500;
      font-size: 0.9375rem;
      color: $white;
    }
  }

  .categories {
    background-color: $white;
    padding: 1.5rem 3.125rem 1.5rem 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .category {
      background-color: $lightGreyBackground;
      border-radius: 10px;
      color: $blue;
      font-weight: 600;
      font-size: 0.8125rem;
      padding: 0.3rem 1rem;
      text-transform: capitalize;
      transition: all 0.15s ease-in-out;

      &.active {
        background-color: $blue;
        color: $white;
      }

      &:hover {
        background-color: $greyBlue;
      }
    }
  }

  .road-map {
    background-color: $white;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;

    .road-map-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 1.5rem;

      p {
        font-weight: 700;
        font-size: 1.125rem;
        letter-spacing: -0.25px;
      }

      a {
        color: $blue;
        font-size: 0.8125rem;
        text-decoration: underline;
        font-weight: 600;
      }
    }

    .road-map-content {
      display: grid;
      gap: 0.5rem;

      .content-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .content-item-title {
          display: flex;
          align-items: center;

          .road-map-dot-planned {
            border-radius: 50%;
            background-color: $orange;
            padding: 0.25rem;
            margin-right: 1rem;
          }

          .road-map-dot-progress {
            @extend .road-map-dot-planned;
            background-color: $purple;
          }

          .road-map-dot-live {
            @extend .road-map-dot-planned;
            background-color: $lightblue;
          }

          p {
            font-weight: 400;
            font-size: 1rem;
            color: $veryLightBlue;
          }

          .road-map-amount {
            font-weight: 700;
            font-size: 1rem;
            color: $veryLightBlue;
          }
        }
      }
    }
  }
}
