<div class="sidebar">
  <div class="header">
    <div>
      <p>Frontend Mentor</p>
      <p class="header-sub">Feedback board</p>
    </div>

    <div class="menu-toggle">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>

  <div class="categories">
    <button
      class="category"
      *ngFor="let category of categories" (click)="changeCategory(category)"
      [class.active]="currentCategory === category">
      {{category}}
    </button>
  </div>

  <div class="road-map">
    <div class="road-map-header">
      <p class="road-map-header-title">
        Roadmap
      </p>
      <a routerLink="roadmap">View</a>
    </div>
    <div class="road-map-content">
      <div class="content-item">
        <div class="content-item-title">
          <div class="road-map-dot-planned"></div>
          <p>Planned</p>
        </div>
        <p class="road-map-amount">{{ plannedRequests$ | async }}</p>
      </div>
      <div class="content-item">
        <div class="content-item-title">
          <div class="road-map-dot-progress"></div>
          <p>In-Progress</p>
        </div>
        <p class="road-map-amount">{{ inProgressRequests$ | async }}</p>
      </div>
      <div class="content-item">
        <div class="content-item-title">
          <div class="road-map-dot-live"></div>
          <p>Live</p>
        </div>
        <p class="road-map-amount">{{ liveRequests$ | async }}</p>
      </div>
    </div>
  </div>
</div>

