<div class="new-container">
  <div class="new-header">
    <app-backlink></app-backlink>
  </div>

  <div class="new-form">
    <img src="assets/shared/icon-new-feedback.svg" alt="">
    <h2 class="feedback-title">
      {{title}} new feedback
    </h2>

    <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
      <app-input
        controlType="input"
        [control]="feedbackForm.controls['feedbackTitle']"
        [label]="'Feedback Title'"
        [subLabel]="'Add a short, descriptive headline'">
      </app-input>

      <app-input
        [control]="feedbackForm.controls['feedbackCategory']"
        [label]="'Category'"
        [subLabel]="'Choose a category for your feedback'">
        <mat-form-field appearance="fill">
          <mat-select [formControl]="feedbackForm.controls['feedbackCategory']">
            <mat-option *ngFor="let category of categories" [value]="category.value">
              {{capitalizeFirstLetter(category.value)}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </app-input>

      <app-input
        controlType="textarea"
        [control]="feedbackForm.controls['feedbackDescription']"
        [label]="'Feedback Detail'"
        [subLabel]="'Include any specific comments on what should be improved, added, etc.'"
        [maxLength]="250">
      </app-input>

      <div class="new-footer">
        <ng-container class="delete-btn" *ngIf="productRequest">
          <app-button class="delete-btn" (click)="deleteRequest()" [btnText]="'Delete'" [btnClass]="'red-btn'" [type]="'button'"></app-button>
        </ng-container>
        <app-button [btnText]="'Cancel'" btnClass="darkblue-btn" (click)="goBack()" type="button"></app-button>
        <app-button [btnText]="btnText + ' feedback'" btnClass="purple-btn" type="submit"></app-button>
      </div>
    </form>
  </div>
</div>
