@import "./Variables";

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  width: 100%;
  background-color: $bodyBackgroundColor;
}

.mat-mdc-form-field {
  width: 100%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before,
.mdc-text-field--filled .mdc-line-ripple::after {
  display: none !important;
}

.mdc-text-field {
  border-radius: 5px !important;
}

.mat-mdc-form-field-infix {
  max-height: 44px !important;
  min-height: 0 !important;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 10px !important;
}

.custom-mat-form-field .mat-form-field-underline {
  display: none !important;
}

.mat-mdc-select-panel {
  border-radius: 10px;
  margin-top: 1rem !important;
}

mat-option:not(:last-child) {
  border-bottom: 1px solid rgba(58, 67, 116, 0.15);
}

.cdk-overlay-pane:not(.mat-mdc-select-panel-above) .mdc-menu-surface.mat-mdc-select-panel {
  padding: 0;
  border-radius: 10px !important;
}

.mat-mdc-select-value, .mat-mdc-option {
  font-weight: 400 !important;
  font-size: 0.9375rem !important;
  color: $darkBlue !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: transparent;
}

.mat-mdc-tab-label-container {
  margin-bottom: 2rem !important;
}

.mdc-tab__text-label {
  font-weight: 700;
  color: $darkBlue !important;
}
