$bodyBackgroundColor: #F7F8FD;
$lightGreyBackground: #F2F4FE;
$darkBlue: #3A4374;
$veryLightBlue: #647196;
$blue: #4661E6;
$orange: #F49F85;
$purple: #AD1FEA;
$lightblue: #62BCFA;
$darkGreyBlue: #373F68;
$red: #D73737;
$greyBlue: #CFD7FF;
$white: #FFF;

$tablet: 1050px;
$mobile: 700px;

$font: 'Jost', sans-serif;
