/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Jost:wght@400;500;600;700;800;900&display=swap');
@import "./variables";
//Reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: $bodyBackgroundColor;
  font-family: $font;
}

input, textarea {
  border: 0;
  outline: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html, body {
  height: 100%;
}

.error-message {
  font-weight: 400;
  font-size: 0.835rem;
  color: $red;
  padding-top: 0.3rem;
}


//Material design overwrite

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  width: 100%;
  background-color: $bodyBackgroundColor;
}

.mat-mdc-form-field {
  width: 100%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before,
.mdc-text-field--filled .mdc-line-ripple::after {
  display: none !important;
}

.mdc-text-field {
  border-radius: 5px !important;
}

.mat-mdc-form-field-infix {
  max-height: 44px !important;
  min-height: 0 !important;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 10px !important;
}

.custom-mat-form-field .mat-form-field-underline {
  display: none !important;
}

.mat-mdc-select-panel {
  border-radius: 10px;
  margin-top: 1rem !important;
}

mat-option:not(:last-child) {
  border-bottom: 1px solid rgba(58, 67, 116, 0.15);
}

.cdk-overlay-pane:not(.mat-mdc-select-panel-above) .mdc-menu-surface.mat-mdc-select-panel {
  padding: 0;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.mat-mdc-select-value, .mat-mdc-option {
  font-weight: 400 !important;
  font-size: 0.9375rem !important;
  color: $darkBlue !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: transparent;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.product-request {
  background-color: $white;
  padding: 1.75rem 2rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: start;
  gap: 2.5rem;

  .upvote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 0.55rem 0.5rem;
    background-color: $lightGreyBackground;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    .upvote-amount {
      letter-spacing: -0.180556px;
      font-weight: 700;
      font-size: 13px;
    }

    &:hover {
      background-color: $greyBlue;
    }
  }

  .request-info {
    cursor: pointer;

    .request-title {
      color: $darkBlue;
      font-weight: 700;
      font-size: 1.125rem;
      letter-spacing: -0.25px;
      margin-bottom: 0.25rem;
    }

    .request-description {
      font-weight: 400;
      font-size: 1rem;
      color: $veryLightBlue;
      margin-bottom: 0.75rem;
    }

    .request-tag {
      width: min-content;
      background-color: $lightGreyBackground;
      border-radius: 10px;
      font-weight: 600;
      font-size: 0.8125rem;
      color: $blue;
      padding: 0.4rem 1rem;
      text-transform: capitalize;
    }
  }

  .request-comments {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: -0.222222px;
    color: $darkBlue;
    align-self: center;
  }
}

.back-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0;

  a {
    color: $veryLightBlue;
    font-weight: 700;
    font-size: 0.875rem;
    text-decoration: none;
  }
}
