@import "../../sass/Variables";

.mobile-menu {
  position: sticky;
  inset: 0;
  height: calc(100vh - 85px);
  //100svh for fixing some mobile issues
  height: calc(100svh - 85px);
  width: 70%;
  z-index: 9;
  margin-left: auto;
  background-color: $lightGreyBackground;
  padding: 1.5rem;
  animation: openMenu 0.2s ease-in-out forwards;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  app-categories {
    @media (max-width: $mobile) {
      display: block;
    }
  }
}

.overlay{
  position: sticky;
  inset: 0;
  height: calc(100vh - 85px);
  z-index: 8;
  background-color: rgba(0,0,0, 0.5);
  animation: openMenu 0.2s ease-in-out forwards;
}

@keyframes openMenu {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}
