@import "../../sass/Variables";

.mobile-menu {
  position: sticky;
  inset: 0;
  height: 100vh;
  width: 70%;
  z-index: 15;
  margin-left: auto;
  background-color: $lightGreyBackground;
  padding: 1.5rem;
  animation: openMenu 0.2s ease-in-out forwards;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  i{
    margin-left: auto;
    color: $blue;
  }

  app-categories {
    @media (max-width: $mobile) {
      display: block;
    }
  }
}

.overlay{
  position: sticky;
  inset: 0;
  height: 100vh;
  z-index: 14;
  background-color: rgba(0,0,0, 0.5);
  animation: openMenu 0.2s ease-in-out forwards;
}

@keyframes openMenu {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}
