<div class="toolbar">
  <div class="toolbar-info">
    <img src="assets/suggestions/icon-suggestions.svg">
    <p class="suggestions">{{(productRequests$ | async)?.length}} Suggestion</p>
    <div class="sort">
      <span>Sort by:</span>
      <button class="sort-btn" (click)="toggleSortDropdown()">{{selectedSortCriterion}}
        <img src="assets/shared/icon-arrow-down.svg" alt="" class="sort-svg">
      </button>
      <div *ngIf="isSortDropdownOpen"
           class="sort-dropdown">
        <ul>
          <li [ngClass]="{'active': selectedSortCriterion === 'Most Upvotes'}"
              (click)="sortProductRequests('Most Upvotes')">
            <p class="sort-dropdown-text">Most Upvotes</p>
            <img *ngIf="selectedSortCriterion === 'Most Upvotes'" src="assets/shared/icon-check.svg">
          </li>
          <li [ngClass]="{'active': selectedSortCriterion === 'Least Upvotes'}"
              (click)="sortProductRequests('Least Upvotes')">
            <p class="sort-dropdown-text">Least Upvotes</p>
            <img *ngIf="selectedSortCriterion === 'Least Upvotes'" src="assets/shared/icon-check.svg">
          </li>
          <li [ngClass]="{'active': selectedSortCriterion === 'Most Comments'}"
              (click)="sortProductRequests('Most Comments')">
            <p class="sort-dropdown-text">Most Comments</p>
            <img *ngIf="selectedSortCriterion === 'Most Comments'" src="assets/shared/icon-check.svg">
          </li>
          <li [ngClass]="{'active': selectedSortCriterion === 'Least Comments'}"
              (click)="sortProductRequests('Least Comments')">
            <p class="sort-dropdown-text">Least Comments</p>
            <img *ngIf="selectedSortCriterion === 'Least Comments'" src="assets/shared/icon-check.svg">
          </li>

        </ul>
      </div>
    </div>
  </div>
  <app-feedback-button></app-feedback-button>
</div>
