@import "../../sass/Variables";

.toolbar {
  border-radius: 10px;
  background-color: $darkGreyBlue;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.375rem;

  .toolbar-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    color: $white;

    .suggestions {
      font-weight: 700;
      font-size: 1.125rem;
      letter-spacing: -0.25px;
    }

    .sort {
      color: $white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      span {
        font-size: .875rem;
        opacity: 0.9;
      }

      .sort-btn {
        color: $white;
        font-size: .875rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        img {
          filter: brightness(0) invert(1);
        }
      }

      .sort-dropdown {
        position: absolute;
        top: 3.5rem;
        background: $white;
        box-shadow: 0 10px 40px -7px rgba(55, 63, 104, 0.350492);
        border-radius: 10px;
        width: 255px;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.75rem 1.5rem;
            font-weight: 400;
            font-size: 1rem;
            color: $veryLightBlue;
            cursor: pointer;

            &:hover {
              color: $purple;
            }

            &:not(:last-child) {
              border-bottom: 1px solid rgba(58, 67, 116, 0.15);
            }
          }
        }
      }
    }

  }
}


