<div class="index">
  <app-side-bar (categoryChange)="onCategoryChange($event)"></app-side-bar>
  <div>
    <app-toolbar (sortCriterionChange)="onSortCriterionChange($event)"></app-toolbar>
    <div class="product-requests">
      <div *ngFor="let request of productRequests$ |async"
           class="product-request">
        <div class="upvote">
          <img class="upvote-icon" src="assets/shared/icon-arrow-up.svg" alt="">
          <p class="upvote-amount">{{request.upvotes}}</p>
        </div>
        <div [routerLink]="['/details', request.id]"  class="request-info">
          <h3 class="request-title">{{request.title}}</h3>
          <p class="request-description">
            {{request.description}}
          </p>
          <div class="request-tag">
            {{request.category}}
          </div>
        </div>
        <div [routerLink]="['/details', request.id]"  class="request-comments">
          <img src="assets/shared/icon-comments.svg" alt="">
          <p class="comment-amount">
            {{request.comments?.length ?? 0}}
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="(productRequests$ | async)?.length === 0">
      <app-no-feedback></app-no-feedback>
    </div>
  </div>
</div>
