<div class="index">
  <app-side-bar></app-side-bar>
  <div class="index-content">
    <app-toolbar (sortCriterionChange)="onSortCriterionChange($event)"></app-toolbar>
    <div class="product-requests">
      <app-feedback-request *ngFor="let request of productRequests$ |async"
                            [feedbackRequest]="request"></app-feedback-request>
    </div>
    <div *ngIf="(productRequests$ | async)?.length === 0">
      <app-no-feedback></app-no-feedback>
    </div>
    <app-mobile-menu></app-mobile-menu>
  </div>
</div>
