@import "../../sass/Variables";

.index {
  display: grid;
  grid-template-columns: 255px auto;
  gap: 1.875rem;
  justify-content: center;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
  }

  @media (max-width: $mobile) {
    gap: 0;
  }

  .product-requests {
    display: grid;
    gap: 1.375rem;

    @media (max-width: $mobile) {
      padding: 0 1rem 1rem;
    }
  }
}

app-side-bar {
  @media (max-width: $mobile) {
    gap: 0;
    position: sticky;
    top: 0;
    z-index: 9;
  }
}
