.roadmap-container {
  margin-inline: auto;
  max-width: 1110px;
}
.roadmap-container .roadmap-header {
  border-radius: 10px;
  background-color: #3A4374;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.roadmap-container .roadmap-header .back-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  font-size: 0.9125rem;
}
.roadmap-container .roadmap-header .back-link img {
  filter: brightness(0) invert(1);
}
.roadmap-container .roadmap-header .back-link a {
  color: #FFF;
  font-weight: 700;
  font-size: 0.875rem;
  text-decoration: none;
}
.roadmap-container .roadmap-header h1 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #FFF;
  letter-spacing: -0.333333px;
}
.roadmap-container .roadmap-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
  padding-top: 3rem;
}
@media (max-width: 1050px) {
  .roadmap-container .roadmap-body {
    gap: 0.7rem;
  }
}
.roadmap-container .roadmap-body .roadmap-column h3 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: -0.25px;
  color: #3A4374;
}
.roadmap-container .roadmap-body .roadmap-column .column-subtitle {
  font-size: 1rem;
  color: #647196;
  padding-bottom: 2rem;
}
.roadmap-container .roadmap-body .roadmap-column .box-content h3 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: -0.25px;
  color: #3A4374;
}
.roadmap-container .roadmap-body .roadmap-column .box-content p {
  font-size: 1rem;
  color: #647196;
}
.roadmap-container .roadmap-body .roadmap-column .box-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}
@media (max-width: 1050px) {
  .roadmap-container .roadmap-body .roadmap-column .box-footer {
    align-items: flex-end;
  }
}
.roadmap-container .roadmap-body .roadmap-column .box-footer .box-footer-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 1050px) {
  .roadmap-container .roadmap-body .roadmap-column .box-footer .box-footer-left {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1rem;
  }
}
.roadmap-container .roadmap-body .roadmap-column .box-footer .upvoted-btn {
  background-color: #4661E6 !important;
  color: white;
}
.roadmap-container .roadmap-body .roadmap-column .box-footer .upvoted-btn img {
  filter: brightness(0) invert(1);
}
.roadmap-container .roadmap-body .roadmap-column .box-footer .upvote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 0.55rem 0.5rem;
  background-color: #F2F4FE;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.roadmap-container .roadmap-body .roadmap-column .box-footer .upvote .upvote-amount {
  letter-spacing: -0.180556px;
  font-weight: 700;
  font-size: 13px;
}
.roadmap-container .roadmap-body .roadmap-column .box-footer .upvote:hover {
  background-color: #CFD7FF;
}
.roadmap-container .roadmap-body .roadmap-column .box-footer .box-category {
  background-color: #F2F4FE;
  padding: 0.4rem 1rem;
  width: min-content;
  color: #4661E6;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.8125rem;
}
.roadmap-container .roadmap-body .roadmap-column .box-footer .request-comments {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: -0.222222px;
  color: #3A4374;
}

.roadmap-list {
  min-height: 800px;
  overflow: hidden;
  display: block;
}

.roadmap-box {
  border-radius: 5px;
  padding: 1.5rem 2rem;
  cursor: move;
  background: #FFF;
  margin-bottom: 1.5rem;
}
@media (max-width: 1050px) {
  .roadmap-box {
    padding: 1rem 1.5rem;
  }
}
.roadmap-box.orange-box {
  border-top: solid 6px #F49F85;
}
.roadmap-box.purple-box {
  border-top: solid 6px #AD1FEA;
}
.roadmap-box.blue-box {
  border-top: solid 6px #4661E6;
}

.box-header {
  display: flex;
  align-items: center;
}

.dot {
  border-radius: 50%;
  background-color: #F49F85;
  padding: 0.25rem;
  margin-right: 1rem;
}
.dot.purple-dot {
  background-color: #AD1FEA;
}
.dot.blue-dot {
  background-color: #4661E6;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 6px 8px 1px rgba(0, 0, 0, 0.14), 0 1px 12px 2px rgba(0, 0, 0, 0.12);
  height: max-content;
}
.cdk-drag-preview .box-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}
@media (max-width: 1050px) {
  .cdk-drag-preview .box-footer {
    align-items: flex-end;
  }
}
.cdk-drag-preview .box-footer .box-footer-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 1050px) {
  .cdk-drag-preview .box-footer .box-footer-left {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1rem;
  }
}
.cdk-drag-preview .box-footer .upvoted-btn {
  background-color: #4661E6 !important;
  color: white;
}
.cdk-drag-preview .box-footer .upvoted-btn img {
  filter: brightness(0) invert(1);
}
.cdk-drag-preview .box-footer .upvote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 0.55rem 0.5rem;
  background-color: #F2F4FE;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.cdk-drag-preview .box-footer .upvote .upvote-amount {
  letter-spacing: -0.180556px;
  font-weight: 700;
  font-size: 13px;
}
.cdk-drag-preview .box-footer .upvote:hover {
  background-color: #CFD7FF;
}
.cdk-drag-preview .box-footer .box-category {
  background-color: #F2F4FE;
  padding: 0.4rem 1rem;
  width: min-content;
  color: #4661E6;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.8125rem;
}
.cdk-drag-preview .box-footer .request-comments {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: -0.222222px;
  color: #3A4374;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.roadmap-list.cdk-drop-list-dragging .roadmap-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/*# sourceMappingURL=roadmap.component.css.map */
