@import "../../sass/Variables";

.roadmap-container {
  margin-inline: auto;
  max-width: 1110px;

  .roadmap-header {
    border-radius: 10px;
    background-color: $darkBlue;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .back-link {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: 700;
      font-size: 0.9125rem;

      img {
        filter: brightness(0) invert(1);
      }

      a {
        color: $white;
        font-weight: 700;
        font-size: 0.875rem;
        text-decoration: none;
      }
    }

    h1 {
      font-weight: 700;
      font-size: 1.5rem;
      color: $white;
      letter-spacing: -0.333333px;
    }
  }

  .roadmap-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
    padding-top: 3rem;

    @media (max-width: $tablet) {
      gap: 0.7rem;
    }

    .roadmap-column {
      h3 {
        font-weight: 700;
        font-size: 1.125rem;
        letter-spacing: -0.25px;
        color: $darkBlue;
      }

      .column-subtitle {
        font-size: 1rem;
        color: $veryLightBlue;
        padding-bottom: 2rem;
      }

      .box-content {

        h3 {
          font-weight: 700;
          font-size: 1.125rem;
          letter-spacing: -0.25px;
          color: $darkBlue;
        }

        p {
          font-size: 1rem;
          color: $veryLightBlue;
        }
      }

      .box-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1rem;

        @media (max-width: $tablet) {
          align-items: flex-end;
        }

        .box-footer-left {
          display: flex;
          align-items: center;
          gap: 1rem;
        }

        @media (max-width: $tablet) {
          .box-footer-left {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
            gap: 1rem;
          }
        }


        .upvoted-btn {
          background-color: $blue !important;
          color: white;

          img {
            filter: brightness(0) invert(1);
          }
        }

        .upvote {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          padding: 0.75rem 0.55rem 0.5rem;
          background-color: $lightGreyBackground;
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.15s ease-in-out;

          .upvote-amount {
            letter-spacing: -0.180556px;
            font-weight: 700;
            font-size: 13px;
          }

          &:hover {
            background-color: $greyBlue;
          }
        }

        .box-category {
          background-color: $lightGreyBackground;
          padding: 0.4rem 1rem;
          width: min-content;
          color: $blue;
          border-radius: 10px;
          font-weight: 600;
          font-size: 0.8125rem;
        }

        .request-comments {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-weight: 700;
          font-size: 1rem;
          letter-spacing: -0.222222px;
          color: $darkBlue;
        }
      }
    }
  }
}

.roadmap-list {
  min-height: 800px;
  overflow: hidden;
  display: block;
}

.roadmap-box {
  border-radius: 5px;
  padding: 1.5rem 2rem;
  cursor: move;
  background: $white;
  margin-bottom: 1.5rem;

  @media (max-width: $tablet) {
    padding: 1rem 1.5rem;
  }

  &.orange-box {
    border-top: solid 6px $orange;
  }

  &.purple-box {
    border-top: solid 6px $purple;
  }

  &.blue-box {
    border-top: solid 6px $blue;
  }
}

.box-header {
  display: flex;
  align-items: center;

}

.dot {
  border-radius: 50%;
  background-color: $orange;
  padding: 0.25rem;
  margin-right: 1rem;

  &.purple-dot {
    background-color: $purple;
  }

  &.blue-dot {
    background-color: $blue;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 6px 8px 1px rgba(0, 0, 0, 0.14),
  0 1px 12px 2px rgba(0, 0, 0, 0.12);
  height: max-content;

  .box-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;

    @media (max-width: $tablet) {
      align-items: flex-end;
    }

    .box-footer-left {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    @media (max-width: $tablet) {
      .box-footer-left {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 1rem;
      }
    }


    .upvoted-btn {
      background-color: $blue !important;
      color: white;

      img {
        filter: brightness(0) invert(1);
      }
    }

    .upvote {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      padding: 0.75rem 0.55rem 0.5rem;
      background-color: $lightGreyBackground;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.15s ease-in-out;

      .upvote-amount {
        letter-spacing: -0.180556px;
        font-weight: 700;
        font-size: 13px;
      }

      &:hover {
        background-color: $greyBlue;
      }
    }

    .box-category {
      background-color: $lightGreyBackground;
      padding: 0.4rem 1rem;
      width: min-content;
      color: $blue;
      border-radius: 10px;
      font-weight: 600;
      font-size: 0.8125rem;
    }

    .request-comments {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 700;
      font-size: 1rem;
      letter-spacing: -0.222222px;
      color: $darkBlue;
    }
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.roadmap-list.cdk-drop-list-dragging .roadmap-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
