<div class="details-container">
  <div class="details-header">
    <app-backlink></app-backlink>
    <app-button [btnText]="'Edit Feedback'" [btnClass]="'blue-btn'"></app-button>
  </div>
  <div *ngIf="productRequest$ | async as request">
    <app-feedback-request [feedbackRequest]="request"></app-feedback-request>
    <div class="post-comment">
      <h3>Add Comment</h3>
      <textarea></textarea>
      <div class="post-comment-footer">
        <p>
          225 characters left
        </p>
      </div>
    </div>
    <app-comment [productRequest]="request"></app-comment>
  </div>
</div>

