<div class="details-container">
  <div class="details-header">
    <app-backlink></app-backlink>
    <app-button [btnText]="'Edit Feedback'" [btnClass]="'blue-btn'"></app-button>
  </div>

  <app-feedback-request [feedbackRequest]="productRequest"></app-feedback-request>

  <app-comment [productRequest]="productRequest"></app-comment>

  <div class="post-comment">
    <h3>Add Comment</h3>
    <form [formGroup]="commentForm" (ngSubmit)="commentFormSubmit()">
      <app-input
        controlType="textarea"
        [maxLength]="255"
        [control]="commentForm.controls.comment"
        placeholder="Type your comment here">
      </app-input>

      <div class="post-comment-footer">
        <app-button
          type="submit"
          [btnClass]="'purple-btn'"
          btnText="Post Comment">
        </app-button>
      </div>
    </form>
  </div>
</div>

