@import "../../sass/Variables";

.details-container {
  max-width: 720px;
  margin-inline: auto;

  .back-link {
    display: flex;
    justify-content: space-between;
    align-items: start ;
    padding: 3rem 0 1.5rem;

    .back-link-section {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
