<div class="comment" *ngFor="let comment of productRequest?.comments">
  <img src="{{comment.user?.image}}" alt="">
  <div class="comment-section">
    <div class="name-section">
      <div>
        <p class="name">{{comment.user?.name}}</p>
        <p class="user-name">@{{comment.user?.username}}</p>
      </div>
      <button (click)="showReply(comment.id)" class="reply-btn">
        Reply
      </button>
    </div>
    <div class="comment-content">
      <p>{{comment.content}}</p>
    </div>
    <div class="replies" *ngFor="let reply of comment.replies">
      <div>
        <img src="{{reply.user?.image}}" alt="">
      </div>
      <div class="comment-section">
        <div class="user-name">
          <div>
            <p>{{reply.user?.name}}</p>
            <p>{{reply.user?.username}}</p>
          </div>
        </div>
        <div class="comment-content">
          <p><span class="reply-to">{{reply.replyingTo}}</span>{{reply.content}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="isReplyShowing(comment.id)" class="reply">
      <app-input
        [control]="replyForm.controls.reply"
        controlType="textarea"
        placeholder="Type your reply here"
        [maxLength]="250"
      ></app-input>
      <app-button btnText="Post Reply" btnClass="purple-btn"></app-button>
    </div>
  </div>
</div>
