<div class="comment" *ngFor="let comment of productRequest?.comments; let i = index">
  <div class="name-section">
    <div class="comment-header">
      <img src="{{comment.user?.image}}" alt="">
      <div>
        <p class="name">{{comment.user?.name}}</p>
        <p class="user-name">@{{comment.user?.username}}</p>
      </div>
    </div>
    <button (click)="showReply(comment.id)" class="reply-btn">
      Reply
    </button>
  </div>
  <div class="comment-content">
    <p>{{comment.content}}</p>
    <div *ngIf="totalComments && totalComments !== 1 && i !== (totalComments - 1)" class="divider"></div>
  </div>
  <ng-container *ngIf="isReplyShowing(comment.id)">
    <form [formGroup]="replyForm" (ngSubmit)="onReplySubmit(comment.id)">
      <div class="reply">
        <app-input
          [control]="replyForm.controls.reply"
          controlType="textarea"
          placeholder="Type your reply here"
          [maxLength]="250"
        ></app-input>
        <app-button btnText="Post Reply" type="submit" btnClass="purple-btn"></app-button>
      </div>
    </form>
  </ng-container>
  <div class="replies" *ngFor="let reply of comment.replies">
    <div class="name-section">
      <div class="comment-header">
        <img src="{{reply.user?.image}}" alt="">
        <div>
          <p class="name">{{reply.user?.name}}</p>
          <p class="user-name">@{{reply.user?.username}}</p>
        </div>
      </div>
    </div>
      <div class="comment-content">
        <p><span class="reply-to">@{{reply.replyingTo}}</span> {{reply.content}}</p>
      </div>
    </div>
  </div>
